.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.h1 img {
  display: block;
  width: 9rem;
  padding-left: 1rem;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  background-color: white;
  border-radius: 8px;
}

.scoreText {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--score-text);
}

.score::after {
  content: attr(data-score);
  display: block;
  font-size: 3.6rem;
}
