.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.rock {
  background-image: var(--rock-gradient);
  grid-area: rock;
  justify-self: center;
  align-self: flex-end;
}

.paper {
  background-image: var(--paper-gradient);
  grid-area: paper;
  justify-self: start;
}

.scissors {
  background-image: var(--scissors-gradient);
  grid-area: scissors;
  justify-self: end;
}

.icon {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: scale-down;
  object-position: center;
  background-color: white;
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2);
}
